body {
  background: #ccc; }

.feature_section {
  text-align: center; }

.form_section {
  padding-top: 40px;
  padding-bottom: 40px; }

.form-control:focus {
  box-shadow: none; }

.erk_form_error {
  border-color: #cd0000 !important; }

.erk_message_block {
  text-align: center;
  margin-bottom: 30px;
  background: #e9eef3;
  position: relative; }
  .erk_message_block .erk_message_name {
    background: #4b596c;
    color: #fff;
    padding: 30px 0px;
    text-align: center; }

.mainbar {
  background: #f6f6f7;
  padding: 60px 0px; }

.erk_messages_text {
  text-align: center;
  margin-bottom: 80px;
  color: #111; }

.erk_header {
  background: #2d3136; }

.form-group label {
  color: #d7d7d7;
  font-size: 18px; }

.feature_section img {
  width: 250px;
  margin-bottom: 30px; }

.form-group {
  margin-bottom: 35px; }

.preloader .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }
  .preloader .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
  .preloader .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite; }
  .preloader .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite; }
  .preloader .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite; }
  .preloader .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0); }
    100% {
      transform: scale(1); } }

@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1); }
    100% {
      transform: scale(0); } }

@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0); }
    100% {
      transform: translate(19px, 0); } }

.erk_overflow {
  background: #000;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.preloader_section {
  margin-top: -8px;
  margin-left: 24px; }

.erk_button_section {
  text-align: right; }

.btn {
  outline: none; }
  .btn:focus {
    box-shadow: none;
    outline: none; }

.erk_btn {
  background: #be393b;
  padding: 12px 30px;
  color: #fff;
  outline: none;
  font-weight: 600;
  font-size: 18px; }
  .erk_btn:hover {
    background: #972d2f; }

.form-group span {
  color: red;
  margin-left: 5px;
  font-size: 16px;
  position: relative;
  top: 4px; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  vertical-align: middle;
  border: none;
  font-size: 1rem;
  width: 100%;
  line-height: 40px;
  border-radius: 5px;
  padding: 30px 20px;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: none;
  border: 2px solid; }

textarea {
  border-radius: 5px; }

input, textarea {
  color: #d7d7d7 !important;
  background: none !important;
  vertical-align: middle !important;
  font-size: 18px !important;
  width: 100%;
  line-height: 40px;
  padding: 30px 20px;
  border: 2px solid #545454 !important;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }
  input:hover, textarea:hover {
    box-shadow: 0 20px 35px -25px rgba(0, 0, 0, 0.72);
    border: 2px solid #3498db !important; }

textarea, select[multiple=multiple] {
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  padding: 0.375rem 0.375rem; }

textarea:focus, select[multiple=multiple]:focus {
  outline: none; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
  outline: none; }

.logo_section img {
  width: 250px; }

.logo_section {
  margin-top: 40px;
  margin-bottom: 60px; }

.footer {
  padding: 30px 0px;
  background: #2a2d33;
  padding-bottom: 27px; }

.footer_logo_section img {
  width: 180px; }

.social_icons_section {
  text-align: right; }
  .social_icons_section a {
    margin-left: 10px;
    color: #999;
    border: 1px solid #999;
    padding: 12px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 14px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    .social_icons_section a:hover {
      text-decoration: none;
      border: 1px solid #be393b;
      background: #be393b;
      color: #fff; }

.erk_green_block .erk_message_name {
  background: #58ad52; }
  .erk_green_block .erk_message_body {
    background: #deebde; }

.erk_message_body {
  min-height: 260px; }

.erk_message_email {
  padding: 40px 0px;
  padding-bottom: 20px;
  color: #444; }

@media (min-width: 1200px) {
  .container {
    max-width: 1000px; } }

@media (max-width: 767.98px) {
  .footer_logo_section {
    text-align: center; }

  .social_icons_section {
    text-align: center;
    margin-top: 25px; }

  .logo_section {
    width: 100%;
    text-align: center; } }
